
<div class="container">

    <h3 *ngIf="flag==1"> Dodavanje igraca</h3>
    <h3 *ngIf="flag==2"> Modifikacija igraca: {{data.ime}}</h3>
    <h3 *ngIf="flag==3"> Brisanje igraca: {{data.ime}}</h3>
    
    <form class="mat-dialog-content" #formControl="ngForm">
    
    <div class="form">
    <mat-form-field>
    <input matInput placeholder="Naziv" [(ngModel)]="data.ime" name="ime" [disabled]="flag == 3"/>
    </mat-form-field>
    </div>
    
    <div class="form">
        <mat-form-field>
        <input matInput placeholder="prezime" [(ngModel)]="data.prezime" name="prezime" [disabled]="flag == 3"/>
        </mat-form-field>
        </div>
    
        <div class="form">
            <mat-form-field>
            <input matInput placeholder="broj_reg" [(ngModel)]="data.broj_reg" name="broj_reg" [disabled]="flag == 3"/>
            </mat-form-field>
            </div>
        
            <div class="form">
                <mat-form-field>
                <input matInput placeholder="datum rodjenja"  name="datum_rodjenja" [(ngModel)]="data.datum_rodjenja" [disabled]="flag == 3" [matDatepicker]="datum_rodjenja"
/>                
<mat-datepicker-toggle matSuffix [for]="datum_rodjenja"></mat-datepicker-toggle>
<mat-datepicker #datum_rodjenja></mat-datepicker>
                </mat-form-field>
                </div>
            
                <div class="form">
                    <mat-form-field>
                        <mat-select [compareWith]="compareTo" [(ngModel)]="data.nacionalnost" placeholder="Nacionalnost" name="nacionalnost"  [disabled]="flag==3">
                     <mat-option *ngFor="let nacionalnost of nacionalnosti" [value]="nacionalnost">
                         {{ nacionalnost.skracenica }}
                     </mat-option>
                    </mat-select>
                    </mat-form-field>   
             </div>

             <div class="form">
                <mat-form-field>
                  <mat-select [(ngModel)]="data.tim" placeholder="Tim" name="tim" [compareWith]="compareTo"
                    [disabled]="flag == 3">
                    <mat-option *ngFor="let tim of timovi" [value]="tim">
                      {{ tim.naziv }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

    
    <div class="mat-dialog-actions">
        <button (click)="add()" [mat-dialog-close]="1" [disabled]="!formControl.valid" mat-button *ngIf="flag == 1" type="submit">Sacuvaj </button>  
        <button (click)="update()" [mat-dialog-close]="1" [disabled]="!formControl.valid" mat-button *ngIf="flag == 2" type="submit">Izmeni </button>  
        <button (click)="delete()"  [mat-dialog-close]="1" mat-button *ngIf="flag == 3" type="submit">Obrisi </button>  
        <button (click)="cancel()" >ponisti </button>  
    
    
    
            </div>
    
    
    </form>
    
    
    </div>